/*Redefinindo o margin e padding da página*/

*{margin:0;
    padding: 0;}

 /*Body*/   
  body {
    width: 100vw;
    height: 100vh;
    text-align: center;
  
    background-color: #663399;
  
    background-image: url(../assets/background.png);
    background-size: cover;
    background-attachment: fixed;
  
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  
  }
  

  /*Conteúdo principal*/
  .container{
    width: 350px;
    margin:auto;
  }

 /*Meu título*/ 
 h1{
    font-family: "Luckiest Guy", cursive;
    font-size: 40px;
    color: #f3ef04;
  
    text-shadow: 20px 0px 15px #00000042;
  
    font-family: "Luckiest Guy", cursive;
  
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0f1157;
 } 

 h1::first-line {
    color: #e8f1ff;
  }
  
  
/*Menu Social*/  
.social{
    margin-top: 10%;
    list-style-type: none;
  }
  .social li{
   display:inline-block;
   width:auto;
  }
  
  .icone{
    width: 100px;
    cursor:pointer;

    transition: width 0.4s linear 0.1s;
  }


  .menu {

   margin-top: 20%; 

    display: flex;
    align-items:center;
    justify-content: center;
  
  
  }
  

  /*Botão Voltar*/
  #back{
    
      background-color: #f3ef04;
      border: 4px solid #0f1157;
      padding: 10px 30px 10px 30px;
  
      color:#0f1157;
    
      border-radius: 50px;
    
      font-size: 15px;
    
      font-weight: bolder;
    
      cursor: pointer;
    
      font-family: "Press Start 2P", cursive;

      transition: all 0.5s linear 0.1s ;
    
    }

    #back:hover{
    
        padding: 10px 40px 10px 40px;
    
      
      }
  
